h3 {
  color: rgb(117, 204, 36);
}

p {
  color: rgb(83, 83, 255);
}

.App {
  text-align: center;
  border: 2px solid rgb(255, 205, 205);
  border-radius: 20px;
  background: rgb(255, 251, 218);
  width: 500px;
  margin: auto;
  margin-top: 50px;
}

.App-text {
  padding: 0 50px;
  text-align: justify;
  text-justify: inter-word;
}
